<script src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.sortable.min.js"></script>
{$settings = $plugin->getSettings()}
<style type="text/css">
    #wa .CodeMirror{
        border: 1px solid #eee;
        max-width: 1200px;
    }
    .CodeMirror-scroll {
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
    }
    .plugin-menu{
        float: right;
        list-style: none;
    }

    .plugin-menu li{
        float: left;
        margin-left: 10px;
    }
    .plugin-menu li a{
        text-decoration: underline;
    }
    .field-group.fixed{
        width: calc(100% - 253px);
        position: fixed;
        background: #fff;
        z-index: 99;
        margin: 0;
        bottom: 0;
    }
    i.icon32{
        background-repeat: no-repeat;
        display: inline-block;
        height: 32px;
        text-decoration: none;
        text-indent: -9999px;
        width: 32px;
    }
    i.icon16.integration{
        background-image: url({$wa_app_static_url}plugins/instantorder/img/integration_icon_16x16.png);
    }
</style>

<ul class="plugin-menu">
    <li><a href="http://support.wa-plugins.ru" target="_blank"><i class="icon16 ss pt hammer"></i>Поддержка</a></li>
</ul>

<h1>{$plugin->getName()}</h1>


<div class="fields form">
    <form action="?module=plugins&id=instantorder&action=save" method="post" id="plugins-settings-form">
        {$wa->csrf()}

        <div class="field-group">
            <div class="field">
                <div class="name">
                    Статус плагина
                </div>
                <div class="value no-shift s-ibutton-checkbox">
                    <input type="hidden" name="shop_instantorder[status]" value="0">
                    <input type="checkbox" id="ibutton-status" name="shop_instantorder[status]" value="1"{if $settings.status|default:0} checked{/if}>
                </div>
            </div>
        </div>
        <div class="field-group"{if !$settings.status|default:0} style="display:none"{/if}>
            <div class="field">
                <div class="name">
                    Выберите поселение
                </div>
                <div class="value">
                    <select name="route_hash" id="route-selector">
                        <option value="0">Общие настройки для всех поселений</option>
                        {foreach $route_hashs as $route_url => $route_hash}
                            <option value="{$route_hash}"{if $route_hash == $settings.route_hash|default:0} selected="selected"{/if}>{$route_url}</option>
                        {/foreach}
                    </select>

                </div>
            </div>
        </div>

        <div class="field-group"{if !$settings.status|default:0} style="display:none"{/if}>
            <div class="route-container block double-padded">

            </div>
        </div>
       {*
        <div class="field-group"{if !$settings.status|default:0} style="display:none"{/if}>
            <h3>Расширьте функционал</h3>
            <div class="field" id="wholesale-info">
                <div class="name">
                    <strong>Минимальный заказ</strong><br/><br/>
                    <p class="hint">
                        <strong>Интеграция плагинов</strong> «Минимальный заказ» и «Быстрый заказ» позволяет использовать плагину «Быстрый заказ» функции «Минимального заказа»
                    </p>
                </div>
                <div class="value">
                    <a target="_blank" href="https://www.webasyst.ru/store/plugin/shop/wholesale/">
                        <img src="{$plugin->getPluginStaticUrl()}img/wholesale.png" />
                    </a>
                    <p class="hint">Воспользуйтесь дополнительным плагином <a target="_blank" href="https://www.webasyst.ru/store/plugin/shop/wholesale/">Минимальный заказ</a>, чтобы задать ограничения на минимальную сумму, минимальное количество товаров в заказе и другие ограничения</p>
                </div>
            </div>
            <div class="field" id="minsum-info">
                <div class="name">
                    <strong>Минимальная сумма заказа</strong><br/><br/>
                    <p class="hint">
                        <strong>Интеграция плагинов</strong> «Минимальная сумма заказа» и «Быстрый заказ» позволяет использовать плагину «Быстрый заказ» функции «Минимальная сумма заказа»
                    </p>
                </div>
                <div class="value">
                    <a target="_blank" href="https://www.webasyst.ru/store/plugin/shop/minsum/">
                        <img src="{$plugin->getPluginStaticUrl()}img/minsum.png" />
                    </a>
                    <p class="hint">Воспользуйтесь дополнительным плагином <a target="_blank" href="https://www.webasyst.ru/store/plugin/shop/minsum/">Минимальная сумма заказа</a>, чтобы задать ограничения на минимальную сумму товаров в заказе</p>
                </div>
            </div>
        </div>*}

        <div class="field-group submit fixed"{if !$settings.status|default:0} style="display:none"{/if}>
            <div class="field">
                <div class="value submit">
                    <input type="submit" class="button green" value="Сохранить">
                    <span class="hint">Ctrl+S</span>
                    <span id="plugins-settings-form-status" style="display:none">
                        <i style="vertical-align:middle" class="icon16 yes"></i> [`Saved`]
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/jquery.tmpl.min.js"></script>
{literal}
    <script id="field-tmpl" type="text/x-jquery-tmpl">
        <tr data-id="${id}">
        <td class="width-min"><i class="icon16 sort"></i></td>
        <td>
        <input class="long" type="text" name="route_settings[fields][${id}][title]" />
        </td>
        <td>
        <select name="route_settings[fields][${id}][name]">
        {{each fields}}
        <option value="${$value.id}">${$value.name}</option>
        {{/each}}
        <optgroup label="Адрес">
        {{each address_fields}}
        <option value="${$value.id}">${$value.name}</option>
        {{/each}}
        </optgroup>
        </select>
        </td>
        <td align="center">
        <input type="hidden" name="route_settings[fields][${id}][required]" value="0" />
        <input type="checkbox" name="route_settings[fields][${id}][required]" value="1" />
        </td>
        <td class="width-min">
        <a class="delete-field-btn" href="#"><i class="icon16 delete"></i></a>
        </td>
        </tr>
    </script>
{/literal}



{$tpls = []}
{foreach $templates as $key => $template}
    {$mode = $template.tpl_ext}
    {if $template.tpl_ext == 'js'}
        {$mode = 'javascript'}
    {/if}
    {$tpls[] = ['id' => "sf-template-`$key`", 'mode' => $mode]}
{/foreach}
<script type="text/javascript" src="{$wa_app_static_url}plugins/instantorder/js/settings.js?{$plugin->getVersion()}"></script>
<script type="text/javascript">
    $(function () {
        $.instantorder_settings.init({
            templates: {json_encode($tpls)},
            fields: {json_encode($fields)},
            address_fields: {json_encode($address_fields)}
        });
    });
</script>