<link rel="stylesheet" href="{$wa_url}wa-content/css/jquery-ui/jquery-ui-1.7.2.custom.css" />
<script src="{$wa_app_static_url}plugins/instantorder/js/jquery-ui.min.js"></script>
<style>
    #instantorder_dialog{
        display: none;
    }
    #instantorder_table{
        margin: 0 auto;
    }
</style>
<script type='text/javascript'>
            $(function() {
                $('.instantorder_button').click(function() {
                    $('#instantorder_dialog').dialog({
                    title: '{$settings.title}',
                            width: {$settings.width_modal},
                            height: {$settings.height_modal},
                            modal: true,
                            autoOpen: true,
                    });
                });
                
                $('#instantorder_form').submit(function(){
                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('action'),
                        dataType: 'json',
                        data: $(this).serialize() + '&' + $('#cart-form').serialize(),
                        success: function(data, textStatus, jqXHR) {
                            $('.response').html(data.data.message);
                            $('.response').hide(5000);
                        }
                    });
                    return false;
                });                
                                
                
                
            });
</script>


<div class="instantorder_block">
    <a class="instantorder_button" href="javascript:void(0);"><img src="{$wa_app_static_url}plugins/instantorder/img/instantorder_but.gif" title="{$settings.link_name}"/></a>

    <div id="instantorder_dialog">
        <form id="instantorder_form" action="{$wa_app_url}instantorder/">
            <table  id="instantorder_table">
                {foreach from=$selected_fields item=selected_field}
                <tr>
                    <td>{$selected_field.name}{if $selected_field.required}<span class="required">*</span>{/if}:&nbsp;</td>
                    <td><input type="text" name="fields[{$selected_field.type}]" value="{if isset($selected_field.def_value)}{$selected_field.def_value}{/if}" /></td>
                </tr>
                {/foreach}
                <tr>
                    <td colspan="2" align="center" >
                        <input type="submit" value="Оформить заказ"/>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="center" class="response" >
                        
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>

